<nav class="nav-container">
    <p>Amandine Lalle</p>
    <ul>
        <li> <a href="#">Home</a> </li>
        <li> <a href="#">Skills</a> </li>
        <li> <a href="#">Projects</a> </li>
        <li> <a href="#">Contact me</a> </li>
    </ul>
</nav> 